#
# error handling
#
ErrorDocument 404 http://beta.diymke.org/error-msg.php?id=404
ErrorDocument 500 http://beta.diymke.org/error-msg.php?id=500
ErrorDocument 400 http://beta.diymke.org/error-msg.php?id=400
ErrorDocument 401 http://beta.diymke.org/error-msg.php?id=401
ErrorDocument 403 http://beta.diymke.org/error-msg.php?id=403
#
# end error handling
#

#
# hide .php file extensions in urls
#
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
#
# end hiding file extensions
#
