#
# error handling
#
ErrorDocument 404 http://beta.diymke.org/error-msg.php
ErrorDocument 500 http://beta.diymke.org/error-msg.php
ErrorDocument 400 http://beta.diymke.org/error-msg.php
ErrorDocument 401 http://beta.diymke.org/error-msg.php
ErrorDocument 403 http://beta.diymke.org/error-msg.php
#
# end error handling
#

#
# hide .php file extensions in urls
#
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
#
# end hiding file extensions
#
