$white: #ffffff;
$gray: #efefef;
$dark: #292929;
$red: #ff504b;
$green: #59d669;
$blue: #6BACD6;
$padding: 3.125%;
$maxWidth: 93.75%;

@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "neat/neat-helpers";

/*Set some defaults*/
strong {font-weight: bold;}
body {color: $dark; font-family: 'Open Sans', sans-serif; font-weight: 300;}
.alert {background-color: $gray; padding: 3.125%;}
.error {color: $red;}
.success {color: $green;}
a {color: inherit; text-decoration: none;&:hover {text-decoration: underline; cursor: pointer;}}
.material-icons {vertical-align: bottom;}
.row {
  padding: 1.5625%;
  width: 100%;
  @include outer-container;
  .one {@include span-columns(1); @include pad(default); @include media(max-width 700px) {margin-top: 3.125%; @include span-columns(12);}}
  .two {@include span-columns(2); @include pad(default); @include media(max-width 700px) {margin-top: 3.125%; @include span-columns(12);}}
  .three {@include span-columns(3); @include pad(default); @include media(max-width 700px) {margin-top: 3.125%; @include span-columns(12);}}
  .four {@include span-columns(4); @include pad(default); @include media(max-width 700px) {margin-top: 3.125%; @include span-columns(12);}}
  .five {@include span-columns(5); @include pad(default); @include media(max-width 700px) {margin-top: 3.125%; @include span-columns(12);}}
  .six {@include span-columns(6); @include pad(default); @include media(max-width 700px) {margin-top: 3.125%; @include span-columns(12);}}
  .seven {@include span-columns(7); @include pad(default); @include media(max-width 700px) {margin-top: 3.125%; @include span-columns(12);}}
  .eight {@include span-columns(8); @include pad(default); @include media(max-width 700px) {margin-top: 3.125%; @include span-columns(12);}}
  .nine {@include span-columns(9); @include pad(default); @include media(max-width 700px) {margin-top: 3.125%; @include span-columns(12);}}
  .ten {@include span-columns(10); @include pad(default); @include media(max-width 700px) {margin-top: 3.125%; @include span-columns(12);}}
  .eleven {@include span-columns(11); @include pad(default); @include media(max-width 700px) {margin-top: 3.125%; @include span-columns(12);}}
  .twelve {@include span-columns(12); @include pad(default); @include media(max-width 700px) {margin-top: 3.125%; @include span-columns(12);}}
  .shift-one {@include shift(1); @include media(max-width 700px) {@include shift(0);}}
  .shift-two {@include shift(2); @include media(max-width 700px) {@include shift(0);}}
  .shift-three {@include shift(3); @include media(max-width 700px) {@include shift(0);}}
  .shift-four {@include shift(4); @include media(max-width 700px) {@include shift(0);}}
  .shift-five {@include shift(5); @include media(max-width 700px) {@include shift(0);}}
  .shift-six {@include shift(6); @include media(max-width 700px) {@include shift(0);}}
  .shift-seven {@include shift(7); @include media(max-width 700px) {@include shift(0);}}
  .shift-eight {@include shift(8); @include media(max-width 700px) {@include shift(0);}}
  .shift-nine {@include shift(9); @include media(max-width 700px) {@include shift(0);}}
  .shift-ten {@include shift(10); @include media(max-width 700px) {@include shift(0);}}
  .shift-eleven {@include shift(11); @include media(max-width 700px) {@include shift(0);}}
  .shift-twelve {@include shift(12); @include media(max-width 700px) {@include shift(0);}}
  .error-msg {
    display: none;
    &.green {background: $green;}
    &.red {background: $red; color: $gray;}
    &:target {
      display: block;
    }
  }
}
.text-right {text-align: right;}
.btn,
button,
input[type='submit'] {
  border: 1px solid #292929;
  border-bottom-width: 2px;
  padding: 8px;
  border-radius: 4px;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
  &:hover {
    cursor: pointer;
    color: lighten(#292929, 15%);
    border-color: lighten(#292929, 15%);
    border-bottom-width: 1px;
    position: relative;
    top: 1px;
    outline: none;
    -webkit-appearance: none;
  }
}

body {
  @include display(flex);
  @include align-items(flex-start);
  @include flex-direction(column);
  @include justify-content(flex-start);
  header, main, footer {
    @include flex(1 0 auto);
  }
  header {
    box-shadow: 0 0 5px 1px $dark;
    width: 100%;
    padding: 0 $padding;
    @include display(flex);
    @include align-items(center);
    @include align-content(center);
    @include flex-direction(row nowrap);
    @include justify-content(space-between);
    #logo {
      img {
        max-height: 55px;
      }
    }
    #menu-toggle {
      background: transparent;
      border: none;
      outline: none;
      &:active, &:focus, &:hover {
        outline: none;
        border: none;
      }
      &:hover {
        cursor: pointer;
      }
      &:active {
        color: lighten($dark, 50%);
      }
    }
    nav {
      @include display(flex);
      @include align-items(center);
      @include align-content(center);
      @include flex-direction(row nowrap);
      @include justify-content(center);
      a {
        padding: 30px 10px;
        &:hover, &[class='active'] {
          background: $gray;
        }
        &[class='active'] {
          &:hover {
            background: darken($gray, 2.5%);
          }
          &:active {
            background: darken($gray, 5%);
          }
        }
        &:active {
          background: darken($gray, 2.5%);
        }
      }
    }
    @media (min-width: 700px) {
      #menu-toggle {
        display: none;
      }
    }
    @media (max-width: 700px) {
      #menu-toggle {
        display: block;
      }
      nav {
        background: white;
        position: absolute;
        top: -200%;
        left: 0;
        @include transition(all .5s ease);
        width: 100%;
        @include display(flex);
        @include flex-direction(column);
        a {
          width: 100%;
          text-align: center;
        }
      }
      nav[class='active'] {
        @include transition(all 1s ease);
        position: absolute;
        top: 55px;
        left: 0;
      }
    }
  }
  main {
    #cta-group {
      .row {
        * {
          height: 100%;
        }
      }
    }
    p,
    h1, h2, h3, h4, h5, h6,
    blockquote,
    small,
    li
    {
      word-wrap: break-word;
    }
    min-height: 100vh;
    padding: $padding;
    width: 100%;
    .gray {background: $gray;}
    .lead {
      font-size: 1.5em;
      line-height: 1.5em;
    }
    #form_start {
      text-align: center;
      button {
        background: darken($green, 10%);
        color: $white;
        border: none;
        outline: none;
        padding: 8px;
        &:hover {
          background: darken($green, 15%);
          cursor: pointer;
        }
        &:active {
          background: darken($green, 20%);
        }
      }
    }
    form {
      .input-field {
        padding: 10px 0;
        display: block;
        label, input, textarea {
          display: block;
          width: 100%;
          font-size: 1.25em;
        }
        input, textarea {
          padding: 5px;
          &:active {
            outline: none;
            box-shadow: none;
          }
        }
        button {
          padding: 8px;
          background: $blue;
          color: $white;
          outline: none;
          border: none;
          border-radius: 5px;
          &:hover {
            cursor: pointer;
            background: darken($blue, 10%);
          }
          &:active {
            background: darken($blue, 15%);
          }
        }
        .radio-group {
          @include display(flex);
          @include flex-flow(row nowrap);
          @include align-items(flex-start);
          @include align-content(flex-start);
          @include justify-content(flex-start);
          input {
            width: 20px;
          }
          p {
            margin: 0;
          }
        }
      }
    }
    table {
      border-collapse: collapse;
      width: 100%;
      background: #fff;
      margin: 25px 0;
    }
    th, td {
      padding: 0.25rem;
      text-align: left;
      border: 1px solid #ccc;
    }
    tbody tr:nth-child(odd) {
      background: #eee;
    }
  }
  footer {
    background: $dark;
    color: $white;
    padding: $padding;
    width: 100%;
  }
}

//grid-list view
.material-icons {
  vertical-align: bottom;
  margin-bottom: -2px;
}
#item-group {
  &.cta-group {
    @include media(max-width 600px) {
      #theList {
        &.grid {
          @include flex-flow(column nowrap);
          .item {
            width: 100%;
          }
        }
      }
    }
  }
  width: 90%;
  margin: 0 auto;
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    .btn-group {
      background: #efefef;
      button {
        background: transparent;
        border: none;
        outline: none;
        transition: all .5s ease;
        border-radius: 0;
        &:hover {
          cursor: pointer;
          position: relative;
          top: 0;
          color: lighten(#292929, 20%);
        }
        &.active {
          background: #e0e0e0;
          transition: all .5s ease;
        }
      }
    }
  }
  #theList {
    @include display(flex);
    @include transition(all .3s ease);
    &.list {
      @include flex-flow(column nowrap);
      @include justify-content(center);
      @include align-items(center);
      @include align-content(center);
      .item {
        margin-bottom: 10px;
        width: 50%;
        padding: 5%;
        padding-bottom: calc(5% + 10px);
        @include transition(all .5s ease);
        @include media(max-width 600px) {
          width: 100%;
          padding: 2.5%;
          padding-bottom: calc(2.5% + 10%);
        }
      }
    }
    &.grid {
      @include flex-flow(row wrap);
      @include justify-content(space-around);
      @include align-items(stretch);
      @include align-content(stretch);
      .item {
        width: 40%;
        padding: 5%;
        padding-bottom: calc(5% + 10px);
        margin-bottom: 10px;
        @include transition(all .5s ease);
      }
    }
  }
}
